 {% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
 
		<i> This page has not been implemented, click "Register" to continue </i>
        <input type="text" placeholder = "Name" />
		<input type="text" placeholder = "Username" />
		<input type="password" placeholder = "Enter password" />
		<input type="password" placeholder = "Enter password again" />
		
		<select name = "role" placeholder="Select a Role">
			<option>Administrator</option>
			<option>User</option>
		</select>
		
		<input type="submit" value="Register" />